{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


<div class="container">
<table class="table table-striped">
    <thead>
      <tr>
        <th>Student ID</th>
		<th>Roll</th>
		<th>Class</th>
		<th>First Name</th>
		<th>Last Name</th>
      </tr>
    </thead>
    <tbody>
	{% for stud in student %}  
      <tr>
        <td>{{stud.id}}</td>
        <td>{{stud.roll}}</td>
		<td>{{stud.sclass}}</td>
		<td>{{stud.fname}}</td>
		<td>{{stud.lname}}</td>
      </tr>
	  {% endfor %} 
	</tbody>
</table>	
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}